<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ws.inspectionoffice.mapper.ContrastMapper">
    
    <resultMap type="Contrast" id="ContrastResult">
        <result property="id"    column="id"    />
        <result property="contrastName"    column="contrast_name"    />
        <result property="fatherfileUrl"    column="fatherfile_url"    />
        <result property="fatherfileName"    column="fatherfile_name"    />
        <result property="createTimestamp"    column="create_timestamp"    />
        <collection property="resultList" ofType="Result" resultMap="resultListResultMap"/>
    </resultMap>

    <resultMap id="resultListResultMap" type="Result">
        <id property="id" column="result_id"/>
        <result property="contrastId" column="contrast_id"/>
        <result property="childfileName" column="childfile_name"/>
        <result property="childfileUrl" column="childfile_url"/>
        <result property="riskpointTotal" column="riskpoint_total"/>
        <result property="resultfileName" column="resultfile_name"/>
        <result property="resultfileUrl" column="resultfile_url"/>
        <result property="resultfileHtml" column="resultfile_html"/>
    </resultMap>

    <select id="selectContrastList" parameterType="Contrast" resultMap="ContrastResult">
        SELECT co.id,co.contrast_name,co.fatherfile_url,co.fatherfile_name,co.create_timestamp,
        r.id  AS result_id, r.contrast_id, r.childfile_name, r.childfile_url, r.riskpoint_total, r.resultfile_name, r.resultfile_url, r.resultfile_html
        from contrast AS co
        left join result AS r on co.id=r.contrast_id
        <where>
            <if test="id != null">co.id = #{id}</if>
        </where>
        ORDER BY co.create_timestamp DESC;
    </select>

    <insert id="insertContrast" parameterType="Contrast" useGeneratedKeys="true" keyProperty="id">
        insert into contrast
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contrastName != null and contrastName != ''">contrast_name,</if>
            <if test="fatherfileUrl != null and fatherfileUrl != ''">fatherfile_url,</if>
            <if test="fatherfileName != null  and fatherfileName != ''">fatherfile_name,</if>
            <if test="createTimestamp != null">create_timestamp,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contrastName != null and contrastName != ''">#{contrastName},</if>
            <if test="fatherfileUrl != null and fatherfileUrl != ''">#{fatherfileUrl},</if>
            <if test="fatherfileName != null  and fatherfileName != ''">#{fatherfileName},</if>
            <if test="createTimestamp != null">#{createTimestamp},</if>
        </trim>
    </insert>

    <insert id="insertResult" parameterType="Contrast" useGeneratedKeys="true" keyProperty="id">
        insert into result
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contrastId != null">contrast_id,</if>
            <if test="childfileName != null and childfileName != ''">childfile_name,</if>
            <if test="childfileUrl != null and childfileUrl != ''">childfile_url,</if>
            <if test="riskpointTotal != null and riskpointTotal != ''">riskpoint_total,</if>
            <if test="resultfileName != null and resultfileName != ''">resultfile_name,</if>
            <if test="resultfileUrl != null and resultfileUrl != ''">resultfile_url,</if>
            <if test="resultfileHtml != null  and resultfileHtml != ''">resultfile_html,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contrastId != null">#{contrastId},</if>
            <if test="childfileName != null and childfileName != ''">#{childfileName},</if>
            <if test="childfileUrl != null and childfileUrl != ''">#{childfileUrl},</if>
            <if test="riskpointTotal != null and riskpointTotal != ''">#{riskpointTotal},</if>
            <if test="resultfileName != null and resultfileName != ''">#{resultfileName},</if>
            <if test="resultfileUrl != null and resultfileUrl != ''">#{resultfileUrl},</if>
            <if test="resultfileHtml != null  and resultfileHtml != ''">#{resultfileHtml},</if>
        </trim>
    </insert>
</mapper>